<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  If you wanna contact <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  you could do that at <a href="http://railstutorial.org/help">Ruby on Rails<a/>
</p>